.result-section {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  align-items: center;
  max-width: 1280px;
}

.result-heading {
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}

.result-heading-class {
  font-family: 'Secular One', sans-serif;
  font-size: 1.8em;
  font-variant-caps: small-caps;
  line-height: 0.8em;
  display: block;
  margin-top: 20px;
}

.result-description {
  margin: 0 0 20px 0;
}

.result-roles-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

.result-roles-block {
  font-size: 0.8em;
  max-width: 200px;
  margin: 0.4em;
}

.result-roles-block span {
  font-weight: bold;
}

.roles-section {
  margin-top: 32px;
  list-style: none;
  padding: 0;
}

.roles-section h4 {
  margin: 0;
  font-weight: bold;
}

.roles-section span {
  font-weight: bold;
}

.roles-section p {
  margin-top: 0.5em;
}

.role {
  font-family: 'Secular One', sans-serif;
  font-size: 1.6em;
  font-variant-caps: small-caps;
}

.role-Assaulter {
  color: #a44;
}

.role-Vanguard {
  color: #588;
}

.role-Ruiner {
  color: #06a;
}

.role-Healer {
  color: #582;
}

.role-Disruptor {
  color: #758;
}

.role-Supporter {
  color: #970;
}

hr {
  border: 1px solid #4324;
}

.end-section {
  margin-top: 1em;
  margin-bottom: 50px;
  text-align: center;
}
